<:Title>
  Chat

<:Body>
  <br/>
  <div class="container">
    <div class="row">
      <div class="col l 12">
        <div class="card-panel hoverable">
          <div class="panel-heading">Chat</div>
          <div class="card-panel teal lighten-3">
            <div>
              {{ store._messages.each do |message| }}
              <p>
                <strong>{{ message.user.then(&:_name) }}</strong>
                <span>{{ message._body }}</span>
              </p>
              {{ end }}
            </div>
            <br/>
  
            <form class="form-inline center" e-submit="send_message">
              <div class="form-group">
                <textarea class="form-control hoverable" placeholder="Enter a message" value="{{ page._form._body }}" style="width: 500px"></textarea>
              </div>
              <input type="submit" class="btn btn-default"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>