<:Title>
  {{ view main_path, "title", {controller_group: 'main'} }}

<:Body>
  <div class="container">
    <nav>
      <div class="nav-wrapper teal darken-3">
        <a href="#" class="brand-logo">Chatty</a>
        <ul class="right hide-on-med-and-down">
          <:nav href="/" class="brand-logo">Home</:nav>
          <:nav href="/about">About</:nav>
          <:user_templates:menu />
        </ul>
      </div>
    </nav>
    <br/>
    <:volt:notices />

    {{ view main_path, 'body', {controller_group: 'main'} }}

    <div class="footer">
      <p>&copy; by Nayed Saïd Ali {{ Time.now.year }}</p>
    </div>

  </div>

  <:Nav>
    <li class="{{ if active_tab? }}active{{ end }}">
      <a href="{{ attrs.href }}">{{ yield }}</a>
    </li>

